@model IEnumerable<HocPhi.Models.Lop>

@{
    ViewBag.Title = "ChonLopDiemDanh";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chọn Lớp điểm Danh</h2>

@Html.DropDownList("ddl", Model.Select(item => new SelectListItem
{
    Value = item.MaLop,
    Text = item.TenLop,
    Selected = "select" == item.MaLop
}))

