
@{
    ViewBag.Title = "DiemDanhTick";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Điểm danh Thành Công</h2>

<span>Tổng số học sinh: @ViewBag.TongSoHocSinh</span>
<br>
<span>Tổng số đã điểm danh: @ViewBag.DaDiemDanh</span>

